html {
  background: #000;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
.deck-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 1.75em;
  color: #aaa;
  background: #000;
}
.deck-container .slide {
  background: #000;
  width: 100%;
  height: 100%;
}
.deck-container .slide h1 {
  color: #0af;
  font-weight: normal;
  font-weight: 100;
  text-shadow: 0 0 50px #0af, 0 0 3px #fff;
}
.deck-container .slide h2 {
  color: #af0;
  border-bottom-color: #ccc;
  font-weight: normal;
  font-weight: 100;
  text-shadow: 0 0 15px #af0, 0 0 2px #fff;
  border-bottom: 1px solid #333;
}
.deck-container .slide h3 {
  color: #fff;
  font-weight: normal;
  font-weight: 100;
  text-shadow: 0 0 10px #fff, 0 0 2px #fff;
}
.deck-container #title-slide {
  background-image: url('../../images/menu/bg-iphone.jpg');
  background-size: 480px 320px;
  background-position: top center;
  background-repeat: no-repeat;
}
.deck-container #title-slide #view-reel {
  top: 20px;
  zoom: 0.5;
  margin: auto;
  display: block;
  position: relative;
  top: 20px;
}
.deck-container #title-slide #menu-holder {
  width: 450px;
  margin: 0px;
  margin-top: 30px;
  margin-left: 45px;
}
.deck-container #title-slide #menu-holder img {
  zoom: 0.45;
  float: left;
  margin-right: 30px;
  margin-bottom: 5px;
  display: block;
}
.deck-container .video {
  width: 80%;
  height: 80%;
}
.deck-container .deck-loading {
  color: #777;
  font-size: 18px;
  width: 100%;
  margin: auto;
  margin-top: 350px;
  text-align: center;
  display: block;
}
.deck-container .slide {
  padding: 0px;
}
#debug {
  padding: 5px;
  color: #fff;
  background: #00aa00;
  position: absolute;
  z-index: 1000;
  width: 200px;
}
